/* Global */
    .form-add-lesson {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

/* Form */
    .form-add-lesson-add-title {
        width: 80%;
        margin: 5% auto;
    }

    .form-add-lesson .form-add-lesson-title {
        height: 80px;
        width: 100%;
        text-align: center;
        font-size: x-large;
    }

    .form-add-lesson .form-add-lesson-duration {
        width: 80%;
        text-align: center;
        font-size: x-large;
        margin: 0 15px;
    }

    .form-add-lesson-add-details {
        display: flex;
        justify-content: center;
        width: 80%;
    }

    .form-add-lesson-select-categorie {
        width: 50%;
    }

    .form-add-lesson-add-description {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 40px;
    }

    .form-add-lesson .form-add-lesson-add-details .form-add-lesson-add-description .form-add-lesson-description {
        text-align: center;
        resize: vertical;
        font-size: larger;
        height: 100px;
    }

/* Btn */
    .btn-form-add-lesson {
        background-color: #1178D4;
        border: none;
        padding: 10px 50px;
        margin-top: 10px;
        float: right;
        width: 70%;
    }

    a .btn-form-add-lesson {
        color: white;
        text-decoration: none;
       
    }