.cardContainer{
    height : 250px;
    width : 400px;
    background-color: var(--color-light-blue);
    border-radius: 25px;
    position: relative;
    margin : 10px;
}

.cardTitle{
    /* padding : 30px; */
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.cardButton{
    background-color: var(--color-dark-blue);
    border : none;
    border-radius: 8px;
    width: 80px;
    height: 40px;
    color : white;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    bottom : 0;
    right : 0;
    margin : 15px;
    cursor : pointer;
}

.cardButton:hover{
    background-color: white;
    color : var(--color-dark-blue);
}

/* .buttonContainer{
    align-items: end;
    margin : 50px;
} */

.spinner {
    border: 16px solid var(--color-dark-blue);
    border-top: 16px solid var(--color-light-blue);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loading{
    font-size: 50px;
    color : var(--color-light-blue);
    margin-bottom: 10px;
  }

  .containerLoading{

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  