.title-lessons{
    font-weight: 600;
    color: var(--color-light-blue);
    font-size: 25px;
    padding: 25px 0;
    text-align: center;
    text-transform: uppercase;
}
/* SECTION CARD */
.card {
    background-color: var(--color-light-blue);
    border-radius: 8px;
    padding: 10px;
    color : white;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .card-text-container {
    flex: 1;
    padding : 10px;
  }
  
  .button-container {
    margin-left: 10px;
  }

  .button-card-container {
    margin-left: 10px;
  }
  
  .card-button {
    background-color: var(--color-dark-blue);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    padding: 12px;
    margin-right: 5px;
    cursor: pointer;
  }

  .card-button:hover{
    background-color: white;
    color : var(--color-dark-blue)
  }
  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 10px;
}

/* SECTION LOADING */
.spinner {
    border: 16px solid var(--color-dark-blue);
    border-top: 16px solid var(--color-light-blue);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .title-nodata{
    width: 100%;
    font-size: 25px;
    text-align: center;
    color : var(--color-light-blue);
    margin: 20px 0px;
  }

  .containerLoading{

  position: fixed;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  /* SECTION MODAL */
  body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    font-size: 25px;
    color : var(--color-light-blue);
    border : none;
    margin : 20px;
    cursor : pointer;
    background-color: transparent;
}
.btn-modal:hover{
    color : var(--color-dark-blue)
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-title{
    width: 80%;
    font-weight: 600;
    color: var(--color-light-blue);
    font-size: 25px;
    padding: 15px 0;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    line-height: 1.6;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    border : 5px solid var(--color-light-blue);
    border-radius: 25px;
    text-align: justify;
    height: 700px;
    overflow-y: scroll;
}

.close-modal {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* autre */
.btn-return{
  background-color: var(--color-light-blue);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    padding: 12px;
    margin-right: 5px;
    cursor: pointer;
}

.btn-return:hover{
  color: var(--color-dark-blue);
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .card-body {
    flex-direction: column;
    align-items: flex-start;
  }
  .card-text-container{
      width: 100%;
      display: flex;
      justify-content: center;
  }
  .button-card-container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-left: 0;
      margin-top: 10px;
  }
  .card-button{
      margin-right: 0px;
  }
  .title-lessons{
    padding : 45px 0
  }
  .containerLoading{
    left : 50%;
  }
}
@media (max-width : 1199px){
  .title-lessons{
    padding : 45px 0px;
  }
}

