.all-emargement {
    display: flex;
    flex-wrap: wrap;
}

.signature-emargement {
    width: 30%;
    padding: 10px 20px;
    margin: 20px auto;
    text-align: center;
    border: 1px solid black;
}

.signature-emargement .img-emargement {
    height: auto;
    width: 100%;
}

.signature-emargement p {
    padding-top: 5px;
}

a .btn-emargement {
    color: white;
}

.btn-emargement {
    background-color: #1178D4;
    border: none;
    padding: 10px 50px;
    margin-top: 10px;
    width: 70%;
}