#from-add-user{
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}
input{
    font-size: 20px;
}
canvas{
    border: 1px solid black
}

h3,h4{
    margin: 1% 5% 1% 5%;
}
#individual-mid{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#individual-mid > label,#individual-mid > input {
    width: 90%;
}

#individual-bottom{
    display: grid;
    grid: repeat(2,1fr) / repeat(2, 1fr);
}

#individual-bottom > div{
    width: auto;
    display: flex;
    flex-direction: column;
}

.individual-grid{
    display: grid;
    grid: auto / repeat(2, 1fr);
}
.individual-grid > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.individual-grid > div > label{
    width: 80%;
}

/*Bande de catégorie*/
.title-cat{
    border: 2px solid black;
    padding: 1%;
    margin: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-cat > h2{
    width: auto;
}
/*   Input   */
form > div > div > div > input, form > div > div > input, #emergency-section > div > div > div >input{
    height: 45px;
    width: 80%;
}
/*  boutton de validation du formulaire  */
#validate-button{
    display: grid;
    grid:  1fr/repeat(3,1fr);
}

#validate-button > button{
    grid-column-start: 2;
    width: 100%;
}
.section-close{
    transform: translate(0,-110%);
    transition: transform 0.5s;
    display: none;
    overflow: hidden
}
.section-open{
    transition: translate(0, 0) 1s;
    transition: transform 0.5s;
    display: block;
}

