.listing-user {
    padding: 20px;
    padding-top: 55px;
    margin-top: 20px;
}

.btn-user {
    margin-top: 10px;
}

.search-bar {
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    font-size: medium;
    padding: 5px;
}

.table-user {
    width: 100%;
    border-collapse: collapse;
}

.table-user, 
.table-user th, 
.table-user td {
    border: 1px solid #4F4F4F;
    padding: 10px;
}

.table-user tr {
    height: 30px;
}

.table-user tr th {
    text-transform: uppercase;
}

.table-user tr:nth-child(1) {
    height: 40px;
}
