/* Menu Principal global */
    .menu-principal {
        background-color: #194766; 
        color: white; 
        width: 200px;
        min-height: 100vh;
    }

    .menu-principal a {
        text-decoration: none;
    }

/* Partie nom + avatar du menu */
    .menu-principal .avatar-menu {
        text-align: center;
    }

    .menu-principal .avatar-menu .img-menu-avatar {
        border-radius: 50%; 
        margin: 10px 0;
    }

    .menu-principal .avatar-menu p {
        color: white;
        margin: auto;
    }

    .avatar-menu-parametre {
        margin-top: 10px;
    }

    .avatar-menu-parametre a {
        margin: 0 10px;
    }

/* Partie listing url menu */
    .menu-principal .listing-menu .ul-listing-menu {
        list-style: none; 
        text-align: start; 
        padding: 0;
        margin: 0;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
    }

    .menu-principal .listing-menu .ul-listing-menu a {
        color: white; 
        text-decoration: none;
        text-align: center;
    }

    .menu-principal .listing-menu .ul-listing-menu a li:hover {
        background-color: #279DD6;
    }

    .menu-principal .listing-menu .ul-listing-menu li {
        border-top: 1px solid white; 
        height: 50px; 
        display: flex; 
        align-items: center;
    }

    .menu-principal .listing-menu .ul-listing-menu li svg {
        margin-left: 5px; 
        min-width: 35px;
    }

    .menu-principal .listing-menu .logo-menu-principal {
        margin: 10px 0;
    }