.container-profil{
    max-width: 1300px;
    margin : 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-img{
    text-align: center;
}
.container-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.section-profil-user {
    width: 100%;
}

.img-profil{
    width: 150px;
    margin : 50px;
    border-radius: 50%;
    border : 1px solid #194766;
}

.btn-profil{
    background-color : var(--color-light-blue);
    color : var(--color-white);
    margin : 5px;
    padding: 10px;
    width: 150px;
    border: none;
    font-size: 20px;
}
.btn-profil:hover{
    background-color: var(--color-dark-blue);
}

.input-profil{
    margin-right : 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 450px;
    border : solid #194766;
}

.container-input{
    display: flex;
    flex-direction: column;
}
.container-btn{
    text-align: center;
}